# DATABASE CREDENTIALS:
DB_HOST="127.0.0.1"
DB_NAME="online_book_store"
DB_USER="root"
DB_PASS=""
DB_CHARSET="utf8mb4"

# MAILTRAP CREDENTIALS:
# Required for sending forgot password emails
MAILTRAP_HOST="sandbox.smtp.mailtrap.io"
MAILTRAP_PORT="2525"
MAILTRAP_USER="YOUR_MAILTRAP_USER"
MAILTRAP_PASS="YOUR_MAILTRAP_PASS"
